<% provide(:title, "Learn") %>
<div class="container-fluid">
<div class="card my-4" style="display:flex; justify-content: center;">
            <div class="card-body" style="width:50%;">
              <h1 style="text-align: center">Learn Page</h1>
              <p style="text-align: center"><i class="fas fa-hard-hat"></i> UNDER CONSTRUCTION <i class="fas fa-hard-hat"></i></p>  
              <div class="">  
                          
              </div>    
            </div>            
          </div>
          </div>