<div class="col-md-2 col-sm-4 sidebar1">
    <div class="logo">
        <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo">
    </div>
    <br>
    <div class="left-navigation">
        <ul class="list">
            <li>Home</li>
            <li>Connect</li>
            <li>Discover</li>
            <li>People</li>
            <li>Statics</li>
        </ul>
    </div>
</div>