
<nav class="col-md-10 col-sm-8 navbar navbar-expand-lg navbar-light bg-primary">
   <div class="navbar-brand"><a href="#">MasterChess</a></div>
    <div class="navbar-brand">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>