
<nav class="col-md-10 col-sm-8 navbar navbar-light bg-primary">
    <div class="navbar-brand"><a href="#">MasterChess</a></div>
    <div class="navbar-brand">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#"><i class="far fa-pen"></i></a>
            <a class="nav-item nav-link" href="#"><i class="far fa-envelope"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fas fa-search"></i></a>
            <%= link_to 'logout', destroy_user_session_path, method: :delete, class:"nav-link"%>
        </div>
    </div>
</nav>

<% if notice.present? %>
  <div class="notice">
    <p> <%= notice %> </p>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert">
    <p> <%= alert %> </p>
  </div>
<% end %>