
<nav class="col-md-10 col-sm-8 navbar navbar-expand-lg navbar-light bg-primary">
   <div class="navbar-brand"><a href="#">MasterChess</a></div>
    <div class="navbar-brand">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#"><i class="fas fa-pencil"></i></a>
            <a class="nav-item nav-link" href="#"><i class="far fa-envelope"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fas fa-search"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fal fa-cog"></i></a>
        </div>
    </div>
</nav>